<div class="container" id="maincontent">
  <h3>Folders</h3>
  <p class="small">
    <%= link_to "Add new folder", new_folder_path %>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <%= link_to "Download Selected Folders", "javascript:void(0)",
                :id => "submit_selected_folders_button" %>
  </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>#</th>
        <th>Name</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= form_tag download_selected_folders_path, :id => "submit_selected_folders" do %>
        <% @folders.each_with_index do |folder, x| %>
          <tr>
            <td><%= check_box_tag "folder_ids[]", folder.id %></td>
            <td><%= @no+x+1 %></td>
            <td><%= "#{folder.name} (#{folder.documents.size})" %></td>
            <td>
              <%= link_to "Edit", edit_folder_path(folder.id), :class => "btn btn-success" %>
              <%= link_to "Delete", folder_path(folder.id ), :method => :delete,
                                    :data => {:confirm => "Are you sure?"}, :class => "btn btn-warning" %>
              <%= link_to "Documents", documents_path(folder.id), :class => "btn btn-primary" %>
              <%= link_to "Download", download_all_documents_path(folder.id), :class => "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="col-xs-12 no_padding_lr pagination"><%= paginate @folders %></div>
</div>

<script>
  $(document).ready(function() {
    $('a#submit_selected_folders_button').click(function(){
      if($(":checkbox:checked").length > 0){
        $("form#submit_selected_folders").submit();;
      }else{
        alert("Please choose at least one")
      }
    });
  });

</script>
